In [2]:
# Problem:
#   Set up the environment so we can work with tabular data and dates for the assignment.
# Solution:
#   Import pandas and numpy for data processing. These libraries will be used in ALL tasks
#   (Task 1: merging, Task 2â€“4: modeling, Task 5: device usage analysis).

import pandas as pd
import numpy as np

In [ ]:
energy_df = pd.read_csv('energy_data.csv')
weather_df = pd.read_csv('weather_data.csv')

display(energy_df.head())
display(weather_df.head())

display({"Energy shape": energy_df.shape, "Weather shape": weather_df.shape})

,Date & Time,use [kW],gen [kW],Grid [kW],AC [kW],Furnace [kW],Cellar Lights [kW],Washer [kW],First Floor lights [kW],Utility Rm + Basement Bath [kW],Garage outlets [kW],MBed + KBed outlets [kW],Dryer + egauge [kW],Panel GFI (central vac) [kW],Home Office (R) [kW],Dining room (R) [kW],Microwave (R) [kW],Fridge (R) [kW]
0,2014-01-01 00:00:00,0.304439,0.0,0.304439,0.000058,0.009531,0.005336,0.000126,0.011175,0.003836,0.004836,0.002132,0.000009,0.007159,0.063666,0.004299,0.004733,0.042589
1,2014-01-01 00:30:00,0.656771,0.0,0.656771,0.001534,0.364338,0.005522,0.000043,0.003514,0.003512,0.004888,0.002137,0.000107,0.007221,0.064698,0.003589,0.004445,0.096008
2,2014-01-01 01:00:00,0.612895,0.0,0.612895,0.001847,0.417989,0.005504,0.000044,0.003528,0.003484,0.004929,0.002052,0.000170,0.007197,0.065109,0.003522,0.004396,0.025928
3,2014-01-01 01:30:00,0.683979,0.0,0.683979,0.001744,0.410653,0.005556,0.000059,0.003499,0.003476,0.004911,0.002068,0.000121,0.007236,0.065032,0.003404,0.004262,0.105472
4,2014-01-01 02:00:00,0.197809,0.0,0.197809,0.000030,0.017152,0.005302,0.000119,0.003694,0.003865,0.004876,0.002087,0.000052,0.007133,0.062451,0.003915,0.004407,0.016798

,temperature,icon,humidity,visibility,summary,pressure,windSpeed,cloudCover,time,windBearing,precipIntensity,dewPoint,precipProbability
0,34.98,partly-cloudy-night,0.64,10.00,Partly Cloudy,1017.69,7.75,0.29,1388534400,279,0.0,23.89,0.0
1,16.49,clear-night,0.62,10.00,Clear,1022.76,2.71,0.06,1388538000,195,0.0,5.87,0.0
2,14.63,clear-night,0.68,10.00,Clear,1022.32,4.84,0.03,1388541600,222,0.0,6.17,0.0
3,13.31,clear-night,0.71,10.00,Clear,1021.64,4.00,0.14,1388545200,209,0.0,5.63,0.0
4,13.57,clear-night,0.71,9.93,Clear,1020.73,3.67,0.04,1388548800,217,0.0,5.87,0.0

{'Energy shape': (17520, 18), 'Weather shape': (8760, 13)}

In [10]:
display(energy_df.columns)
display(weather_df.columns)

display(energy_df.head(3))
display(weather_df.head(3))

Index(['Date & Time', 'use [kW]', 'gen [kW]', 'Grid [kW]', 'AC [kW]',
       'Furnace [kW]', 'Cellar Lights [kW]', 'Washer [kW]',
       'First Floor lights [kW]', 'Utility Rm + Basement Bath [kW]',
       'Garage outlets [kW]', 'MBed + KBed outlets [kW]',
       'Dryer + egauge [kW]', 'Panel GFI (central vac) [kW]',
       'Home Office (R) [kW]', 'Dining room (R) [kW]', 'Microwave (R) [kW]',
       'Fridge (R) [kW]'],
      dtype='object')

Index(['temperature', 'icon', 'humidity', 'visibility', 'summary', 'pressure',
       'windSpeed', 'cloudCover', 'time', 'windBearing', 'precipIntensity',
       'dewPoint', 'precipProbability'],
      dtype='object')

,Date & Time,use [kW],gen [kW],Grid [kW],AC [kW],Furnace [kW],Cellar Lights [kW],Washer [kW],First Floor lights [kW],Utility Rm + Basement Bath [kW],Garage outlets [kW],MBed + KBed outlets [kW],Dryer + egauge [kW],Panel GFI (central vac) [kW],Home Office (R) [kW],Dining room (R) [kW],Microwave (R) [kW],Fridge (R) [kW]
0,2014-01-01 00:00:00,0.304439,0.0,0.304439,0.000058,0.009531,0.005336,0.000126,0.011175,0.003836,0.004836,0.002132,0.000009,0.007159,0.063666,0.004299,0.004733,0.042589
1,2014-01-01 00:30:00,0.656771,0.0,0.656771,0.001534,0.364338,0.005522,0.000043,0.003514,0.003512,0.004888,0.002137,0.000107,0.007221,0.064698,0.003589,0.004445,0.096008
2,2014-01-01 01:00:00,0.612895,0.0,0.612895,0.001847,0.417989,0.005504,0.000044,0.003528,0.003484,0.004929,0.002052,0.000170,0.007197,0.065109,0.003522,0.004396,0.025928

,temperature,icon,humidity,visibility,summary,pressure,windSpeed,cloudCover,time,windBearing,precipIntensity,dewPoint,precipProbability
0,34.98,partly-cloudy-night,0.64,10.0,Partly Cloudy,1017.69,7.75,0.29,1388534400,279,0.0,23.89,0.0
1,16.49,clear-night,0.62,10.0,Clear,1022.76,2.71,0.06,1388538000,195,0.0,5.87,0.0
2,14.63,clear-night,0.68,10.0,Clear,1022.32,4.84,0.03,1388541600,222,0.0,6.17,0.0

In [ ]:
# fix datetime into a proper datetime column, then extract a pure 'date' column for daily grouping.

energy_df = energy_df.copy()

energy_df['datetime'] = pd.to_datetime(energy_df['Date & Time'], errors='coerce')
energy_df['date'] = energy_df['datetime'].dt.date

display(energy_df[['Date & Time', 'datetime', 'date']].head())

           Date & Time            datetime        date
0  2014-01-01 00:00:00 2014-01-01 00:00:00  2014-01-01
1  2014-01-01 00:30:00 2014-01-01 00:30:00  2014-01-01
2  2014-01-01 01:00:00 2014-01-01 01:00:00  2014-01-01
3  2014-01-01 01:30:00 2014-01-01 01:30:00  2014-01-01
4  2014-01-01 02:00:00 2014-01-01 02:00:00  2014-01-01

In [13]:
# create a 'date' column in the weather data that matches the energy data's 'date'

weather_df = weather_df.copy()

weather_df['datetime'] = pd.to_datetime(weather_df['time'], unit='s', errors='coerce')
weather_df['date'] = weather_df['datetime'].dt.date

display(weather_df[['time', 'datetime', 'date']].head())

         time            datetime        date
0  1388534400 2014-01-01 00:00:00  2014-01-01
1  1388538000 2014-01-01 01:00:00  2014-01-01
2  1388541600 2014-01-01 02:00:00  2014-01-01
3  1388545200 2014-01-01 03:00:00  2014-01-01
4  1388548800 2014-01-01 04:00:00  2014-01-01

In [16]:
# Examine the data, parse the time fields wherever necessary. Take the sum of the energy usage 
# (Use [kW]) to get per day usage and merge it with weather data (10 Points).

energy_df = energy_df.copy()

daily_energy_df = (
    energy_df
    .groupby('date', as_index=False)['use [kW]']
    .sum()
    .rename(columns={'use [kW]': 'daily_use_kW'})
)

display(daily_energy_df.head())
display({"Daily energy shape": daily_energy_df.shape})

         date  daily_use_kW
0  2014-01-01     65.013592
1  2014-01-02     32.305336
2  2014-01-03     31.164468
3  2014-01-04     45.287782
4  2014-01-05     36.316643

{'Daily energy shape': (365, 2)}